{% extends "base.html" %}

{% block headers %}
    {% load static %}
    <script type="text/javascript" src="{% static "jquery.js" %}"></script>
    <link rel="stylesheet" href="{% static "jQuery-Timepicker/downloaded_jquery-ui_css.css" %}">
    <script type="text/javascript" src="{% static "jquery-ui/jquery-ui.js" %}"></script>
    <script type="text/javascript" src="{% static "jQuery-Timepicker/src/jquery-ui-sliderAccess.js" %}"></script>
    <link rel="stylesheet" href="{% static "jQuery-Timepicker/src/jquery-ui-timepicker-addon.css" %}">
    <script type="text/javascript" src="{% static "jQuery-Timepicker/src/jquery-ui-timepicker-addon.js" %}"></script>
    <script type="text/javascript" src="{% static "management.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "management.css" %}" />
{% endblock %}


{% block content %}
    {% if superuser %}
        <div class="container">
            <div class="header">
                <span>Create new user</span>
            </div>
            <div class="collapsible">
                <form action="/management/create_user/" method="post">
                {% csrf_token %}
                {{ createUser.as_p }}
                <button type="submit">Create user</button>
                </form>
            </div>
        </div>
        <div class="container">
            <div class="header">
                <span>Create new MarBar</span>
            </div>
            <div class="collapsible">
                <form action="/management/create_marbar/" method="post">
                    {% csrf_token %}
                    {{ createMarBar.as_p }}
                    <button type="submit">Create MarBar</button>
                </form>
            </div>
        </div>
    {% endif %}
    {%if manageMarbars %}
        <ul>
        {% for m in manageMarbars %}
            <div class="container">
                <div class="header">
                    <span>{{ m.title }}</span>
                </div>
                <div class="collapsible">
                    <div class="left_collapsible">
                        <form action="/management/update_marbar/" method="post">
                            {% csrf_token %}
                            {{ m.form.as_p }}
                            <button type="submit">Update MarBar</button>
                        </form>
                    </div>
                    <div class="right_collapsible">
                        <div class="upper_right">
                            <form action="/management/activate_marbar/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="activateMarBar" value="{{ m.pk }}">
                                <input type="submit" value="activate MarBar">
                            </form>
                        </div>
                        <div class="lower_right">
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </ul>
    {% else %}
        <h2>This user has no MarBar connected to it yet</h2>
    {% endif %}



    <script id="source" language="javascript" type="text/javascript">
      $( document ).ready(function() {
       $('#id_end_date').datetimepicker();
      });
    </script>
{% endblock %}