{% extends "base.html" %}

{% load static %}

{% block headers %}


    <script type="text/javascript" src="{% static "jqplot/jquery.jqplot.js" %}"></script>
    <script type="text/javascript" src="{% static "jqplot/plugins/jqplot.barRenderer.js" %}"></script>
    <script type="text/javascript" src="{% static "jqplot/plugins/jqplot.categoryAxisRenderer.js" %}"></script>
    <script type="text/javascript" src="{% static "jqplot/plugins/jqplot.canvasAxisLabelRenderer.js" %}"></script>
    <script type="text/javascript" src="{% static "jqplot/plugins/jqplot.canvasAxisTickRenderer.js" %}"></script>
    <script type="text/javascript" src="{% static "jqplot/plugins/jqplot.pointLabels.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "jqplot/jquery.jqplot.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "scoreboard_style.css" %}" />

{% endblock %}

{% block content %}

    <div class="outer_layer">
        <div class="column" id="col_1">
            {% if collum_1 %}
                <ul class="column_element">
                {% for participant in collum_1 %}
                    <h3>{{ participant.title }}</h3>
                    <p id="{{ participant.title }}">{{ participant.points }}</p>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        </div>

        <div class="column">
            <div class="col-sm-1" id="col_2">
            {% if collum_2 %}
                <ul class="column_element">
                {% for participant in collum_2 %}
                    <h3>{{ participant.title }}</h3>
                    <p id="{{ participant.title }}">{{ participant.points }}</p>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
            </div>
        </div>

        <div id="middle_section">
            <div id="banner_outer">
            <img src="{% static "media/banners/test_image.png"  %}" alt="my image" id="banner_inner">
            </div>
            <div>
                <h1 id="countdownClock"></h1>
            </div>
            <div id="mainGraph">
            </div>


            {% if collum_0 %}
                <div id="col_0_id">
                    <ul>
                    {% for participant in collum_0 %}
                        <div class="column_element col_0_class">
                        <h3>{{ participant.title }}</h3>
                        <p id="{{ participant.title }}">{{ participant.points }}</p>
                        </div>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <div class="col-sm-4">
                    <p>No polls are available.</p>
                </div>
            {% endif %}
        </div>

        <div class="column" id="col_3">
            {% if collum_3 %}
                <ul class="column_element">
                {% for participant in collum_3 %}
                    <h3>{{ participant.title }}</h3>
                    <p id="{{ participant.title }}">{{ participant.points }}</p>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        </div>

        <div class="column" id="col_4">
            {% if collum_4 %}
                <ul class="column_element">
                {% for participant in collum_4 %}
                    <h3>{{ participant.title }}</h3>
                    <p id="{{ participant.title }}">{{ participant.points }}</p>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No polls are available.</p>
            {% endif %}
        </div>

    </div>

    <script id="source" language="javascript" type="text/javascript">
      $.ajaxSetup({cache: false});
      $( document ).ready(function() {
          update_score();
          update_plot();
          countdownClock();
          $.ajaxSetup({ cache: true });
      });

      function update_score() {
         $.ajax({
                    url: "{% url 'score_board:get_points' %}",
                    data: "",
                    dataType: 'json',
                    success: function(res_var) {
                        res_var.forEach(function(res_item) {
                            document.getElementById(res_item["title"]).innerHTML = res_item["points"];
                        }
                        );
                    }
                  }
                  );
      }
      setInterval(update_score, 500);

      function update_plot() {
         $.ajax({
                    url: "{% url 'score_board:get_graph' %}",
                    data: "",
                    dataType: 'json',
                    success: function(res_var) {
                        var s1 = JSON.parse(res_var.points);
                        //var ticks = JSON.parse(res_var.graph_labels);

                        $.jqplot.config.enablePlugins = true;


                            plot1 = $.jqplot('mainGraph', [s1], {
                          series:[{renderer:$.jqplot.BarRenderer}],
                          axes: {
                            xaxis: {
                              renderer: $.jqplot.CategoryAxisRenderer,
                              label: 'Warranty Concern',
                              labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
                              tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                              tickOptions: {
                                  angle: -30,
                                  fontFamily: 'Courier New',
                                  fontSize: '9pt'
                              }

                            },
                            yaxis: {
                              label: 'Occurance',
                              labelRenderer: $.jqplot.CanvasAxisLabelRenderer
                            }
                          }
                        });
                    }
                  }
                  );
      }
      setInterval(update_plot, 50000);

      function countdownClock() {
          // from: https://www.w3schools.com/howto/howto_js_countdown.asp

        var countDownDate = new Date("{{ countdown_date.year }}", "{{ countdown_date.month }}" -1,
            "{{ countdown_date.day }}", "{{ countdown_date.hour }}", "{{ countdown_date.minute }}",
            "{{ countdown_date.second }}");

        // Update the count down every 1 second
        var x = setInterval(function() {

          // Get todays date and time
          var now = new Date().getTime();

          // Find the distance between now and the count down date
          var distance = countDownDate - now;

          // Time calculations for days, hours, minutes and seconds
          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);

          // Display the result in the element with id="demo"
          document.getElementById("countdownClock").innerHTML = days + "d " + hours + "h "
          + minutes + "m " + seconds + "s ";

          // If the count down is finished, write some text
          if (distance < 0) {
            clearInterval(x);
            document.getElementById("countdownClock").innerHTML = "Too Easy!";
          }
        }, 1000);
      }



    </script>

{% endblock %}
